.Battle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333;
  /* background-image: url(../img/maps/demo-map-lower.png);
  background-size: cover; */
  image-rendering: pixelated;
}

.Battle_hero, .Battle_enemy {
  position: absolute;
  transform: scale(1.5);
  width: 64px; /* Sprite width */
  height: 64px; /* Sprite height */
  overflow: hidden;
}

.Battle_hero, .Battle_enemy img {
  pointer-events: none;
}

.Battle_hero {
  bottom: 57px;
  left: 10px;
}

.Battle_hero img {
  /* This is used to select the appropriate 
  sprite from the sprite sheet */
  transform: translateY(0px);
}

.Battle_enemy {
  top: 42px;
  right: 10px;
}

.Battle_enemy img {
  /* This is used to select the appropriate 
  sprite from the sprite sheet */
  transform: translateY(-128px);
}
