* {
  box-sizing: border-box;
}

body {
  background: #333;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.game-container {
  position: relative;
  width: 576px;
  height: 324px;
  margin: 20px auto 0px auto;
  outline: 1px solid #fff;

  /* Make the container bigger and move 
  it down so that it fits in the screen */
  transform: scale(2) translateY(45%);
}

.game-container canvas {
  image-rendering: pixelated;
}
